extends ../layout

block content

  form.form-horizontal(action='../../admin', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='action', value='task-form')
    input(type='hidden', name='taskId', value=undefined)
    .form-group
      label.col-sm-3.control-label(for='taskName') Task name
      .col-sm-7
        input.form-control(type='text', name='taskName', id='taskName', placeholder='Task name', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='selectLessonId') Lesson ID
      .col-sm-7
        select(name='selectLessonId', id='selectLessonId')
          //option(value=undefined) Choose the Lesson to which task is related
          each lesson in db
            option(value=lesson.id) #{lesson.name} ID: #{lesson.id}
        //input.form-control(type='text', name='lessonID', id='lessonID', placeholder='Lesson ID', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='taskDescription') Task description
      .col-sm-7
        textarea.form-control(name="taskDescription", cols="30", rows="10", id='taskDescription', placeholder='Task description', required)
    .form-group
      label.col-sm-3.control-label(for='taskTests') Task tests
      .col-sm-7
        textarea.form-control(name="taskTests", cols="30", rows="10", id='taskTests', placeholder='Task tests', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          | Add new Task
